.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/* GLOBAL STYLES
  --------------------------------------------- */
/* Padding below the footer and lighter body text */





/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0;
    /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

html {
    position: relative;
    min-height: 100%
}

body {
    color: #5a5a5a;
    background-color: #000;


}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    font-style: normal
}

h1,
h2 {
    text-align: center;
    font-size: 2.2em;
    line-height: 1em;
    margin-bottom: 40px;
    color: #424242
}

h3 {
    font-size: 1.8em;
    line-height: 1.4em;
    text-align: center
}

h4 {
    font-size: 1em
}

section {
    padding-top: 40px
}

section.boottom {
    padding-bottom: 60px
}

.margenes {
    padding-left: 70px;
    padding-right: 70px;
}

.sub-margenes {

    padding: 20px;

}

.btn-default {
    color: #fff;
    background-color: #ed1c24;
    border: none
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    color: #fff;
    background-color: #ff1e27
}


#game {
    width: 500px;
    height: 500px;
    position: fixed;
}

#banner {
    border-radius:20px;
    color: #fff;
    margin: 10px;
    padding: 60px;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 90px;
    background: #1C6EA4;
    background: -moz-linear-gradient(left, #1C6EA4 0%, #2388CB 48%, #090B75 100%);
    background: -webkit-linear-gradient(left, #1C6EA4 0%, #2388CB 48%, #090B75 100%);
    background: linear-gradient(to right, #1C6EA4 0%, #2388CB 48%, #090B75 100%);
    /* background-image: url(../assets/banner.png); */
    background-size: cover;
}

#foto {
    width: 170px;
    height: 170px;
    margin-bottom: -120px;
}

.login {
    background: #1C6EA4;
    background: -moz-linear-gradient(left, #1C6EA4 0%, #2388CB 48%, #090B75 100%);
    background: -webkit-linear-gradient(left, #1C6EA4 0%, #2388CB 48%, #090B75 100%);
    background: linear-gradient(to right, #1C6EA4 0%, #2388CB 48%, #090B75 100%);
}


.bg-dark {
    background-color: #343a40 !important;
}


.accordion-body {
    color: #04509a;
}



/* Footer */
footer {
    background-color: #191919;
    padding: 50px 0
}

footer .col-xs-12 {
    margin-bottom: 1em
}

footer .container .row .col-xs-12 .isologo {
    margin: 8px auto
}



.social a {
    /* background: url(../images/sprite.png) no-repeat 0 0; */
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 0 5px;
    text-indent: -9999px;
    /* background-color: #3b5998; */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    -webkit-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear
}


@media (min-width: 768px) {
    .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }

}

@media only screen and (max-width: 43.813em) {

    /* Nav bar */
    .navbar-brand {
        width: 81px;
        background-position: -355px 0px
    }

    /* Slider */
    #slider-page .flickerplate {
        height: 480px
    }

    a.button .cont.center {
        width: 80%
    }

    .flickerplate ul.flicks>li .imagen-proyecto img {
        width: 100%
    }

    .margenes {
        padding-left: 10px;
        padding-right: 10px;
    }

}



.whatsapp {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100000 !important
}



body {
    font-family: 'Lato', sans-serif;
    font-size: 16px
}

body.active {
    overflow: hidden;
    z-index: -1
}



@keyframes dropHeader {
    0% {
        transform: translateY(-100%)
    }

    100% {
        transform: translateY(0)
    }
}

header {
    top: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: inherit;
    background-attachment: local;
    border-radius: 10px;
    /* position: sticky; */
    left: 0px;
    right: 0px;
    text-align: center;
    z-index: 10;
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 1s;
}

header ul {
    display: inline-block;
    background: #fff;
    text-align: center;
    padding: 10px;
    margin: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}

header li {
    display: inline-block
}

header a {
    display: block;
    color: #3498db;
    padding: 10px
}

header a:hover {
    color: #217dbb;
    text-decoration: none;
    background: #eee;
    border-radius: 4px
}

header a:focus {
    color: #3498db;
    text-decoration: none
}

header.active {
    display: block
}

header.sticky {
    position: fixed;
    z-index: 999
}

/* --------------------------------------------------------------------------------------------- */


footer {
    padding: 50px 0;
    background-color: #b9bfc4
}

.copyright {
    padding-top: 20px
}

.copyright p {
    margin: 0;
    color: #74808a
}

.top {
    text-align: center
}

.top span {
    cursor: pointer;
    display: block;
    margin: 15px auto 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #b9bfc4;
    text-align: center
}

.top i {
    color: #74808a
}

/* --------------------------------------------------------------------------------------------- */

.social {
    text-align: right
}

.social ul {
    margin: 5px 0 0 0;
    padding: 0
}

.social li {
    display: inline-block;
    font-size: 1.25em;
    list-style: none
}

.social a {
    display: block;
    color: #74808a;
    padding: 10px
}

.social a:hover {
    color: #3498db
}

/* --------------------------------------------------------------------------------------------- */

#skills {
    padding: 50px 15px;
    text-align: center
}

#skills h2 {
    color: #374054;
    margin-bottom: 50px
}

#skills ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 800px
}

#skills li {
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    color: #374054;
    background: #e4e4ea;
    list-style: none;
    cursor: default;
    font-size: 1.2em
}

/* --------------------------------------------------------------------------------------------- */


@media only screen and (max-width: 768px) {
    header {
        position: fixed;
        display: none;
        z-index: 999;
        animation: none;
        bottom: 0;
        height: 100%
    }

    footer {
        text-align: center
    }

    .social {
        text-align: right
    }

    .social ul {
        margin: 5px 0 0 0;
        padding: 0
    }

    .social li {
        display: inline-block;
        font-size: 1.25em;
        list-style: none
    }

    .social a {
        display: block;
        color: #74808a;
        padding: 10px
    }

    #foto {
        width: 150px;
        height: 150px;
        margin-left:-30px;
    }

    .social a:hover {
        color: #3498db
    }
}